
# Игнорируем скомпилированные файлы и исполняемые файлы
*.exe
*.dll
*.so
*.dylib

# Игнорируем файлы настроек IDE и кэши
*.dproj.local
*.identcache
*.skincfg
*.tvsconfig
*.dcu
*.dcp
*.local

# Игнорируем файлы ресурсов (обычно генерируются автоматически)
*.res
*.rsm

# Резервные копии
*.~*
*.bak